a {
    text-decoration: none
}

.nav a {
    color: #f8f8f8 !important;
}

.bg-danger {
    background-color: #8A1538 !important;
}

.card {
    cursor: pointer;
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.1);
}
.login-btn{
    outline-style: auto;
outline-width: 0.5px;
outline-color: #8A1538;

}
.text-danger{
    color: #8A1538 !important;
}
.head-img{
    position: relative;
}

