.mx-5 {
    margin-left: -50rem!important;
}

.bg-danger,
.btn-danger {
    background-color: #780A25!important;
}

.text-danger {
    color: #780A25!important;
}

.searsh {
    width: 70%;
    height: 3rem;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 16%;
    border-radius: 10px !important;
}

.fullheight {
    height: 100vh!important;
    background: linear-gradient(45deg, black, transparent);
}

.btn-search:hover {
    color: black !important;
    background-color: #b59aa1;
}

.btn-login {
    border-color: #8A1538 !important;
}

.btn-login:hover {
    background-color: #8A1538;
    color: white !important;
}

@media screen and (max-width: 600px) {
    .searsh {
        width: 95%;
    }
}


/* second part  */

a {
    text-decoration: none
}

.nav a {
    color: #f8f8f8 !important;
}

.bg-danger {
    background-color: #8A1538 !important;
}

.card {
    cursor: pointer;
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.1);
}

.login-btn {
    outline-style: auto;
    outline-width: 0.5px;
    outline-color: #8A1538;
}

.text-danger {
    color: #8A1538 !important;
}

.head-img {
    position: relative;
}


/*reservation style*/

.mx-5 {
    margin-left: -50rem!important;
}

.bg-danger,
.btn-danger {
    background-color: #8C1638!important;
}

.text-danger {
    color: #8C1638!important;
}

.fullheight {
    height: 100vh!important;
    background: linear-gradient(45deg, black, transparent);
}

.input {
    border-color: white!important;
}

.border-danger {
    border-color: #8C1638!important;
}