.btn-signUp {
    background-color: #8A1538;
}

.btn-signUp:hover {
    background-color: white;
    color: #8A1538 !important;
}

.text-image {
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10%;
}

.searsh {
    width: 70%;
    height: 3rem;
    left: 17%;
    
    margin-top: 16%;
    border-radius: 10px !important;
    transition: 0.5s;
}
.searsh:hover{
    transform: scale(1.1);

}

.btn-search {
    background-color: #8A1538;
}

.btn-search:hover {
    color: black !important;
    background-color: #b59aa1;
}

.btn-login {
    border-color: #8A1538 !important;
}

.btn-login:hover {
    background-color: #8A1538;
    color: white !important;
}

@media screen and (max-width: 600px) {
    .searsh {
        left: 5%;
        width: 90%;
    }
}

/* second part  */
a {
    text-decoration: none
}

.nav a {
    color: #f8f8f8 !important;
}

.bg-danger {
    background-color: #8A1538 !important;
}

.card {
    cursor: pointer;
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.1);
}
.login-btn{
    outline-style: auto;
outline-width: 0.5px;
outline-color: #8A1538;

}
.text-danger{
    color: #8A1538 !important;
}
.head-img{
    position: relative;
}

